*.DS_Store
*.log
.Rproj.user
.Rhistory
.RData

/.quarto/
/_book/
/_targets/
/output/
/rosm.cache/

# in case of failed render, these temp files are written
/index.aux
/index.lof
/index.lot
/index.pdf
/index.tex
/index.toc
