*.DS_Store
*.log
.Rproj.user
.Rhistory
.RData

/.quarto/
/_book/
/_targets/
/output/

# caching for ggspatial and quarto
/rosm.cache/
/*_cache/
/*_files/

# in case of failed render, these temp files are written
/index.aux
/index.lof
/index.lot
/index.pdf
/index.tex
/index.toc
