*.DS_Store
*.log
.Rproj.user
.Rhistory
.RData

/.quarto/
/_targets/
/output/

# maybe should be checked in? for now we ignore
/_freeze/

# caching for ggspatial and quarto
/rosm.cache/
/*_cache/
/*_files/
/qmd/rosm.cache/
/qmd/*_cache/
/qmd/*_files/

/temp


# in case of failed render, these temp files are written
/index.aux
/index.lof
/index.lot
/index.pdf
/index.tex
/index.toc

# byu-thesis template writes/moves these files to root, don't need to check in
/byuthesis.cls
/index.nlo

# ignore outputs for now, will commit at some point
#A_Comparative_Illustration_of_Trip-_and_Activity-Based_Modeling_Techniuqes.tex
/_book
